@charset "utf-8";
/* ------------------------------------------------------------------------------- */
/*  Reset & Clearfix
/* ------------------------------------------------------------------------------- */


html,body,div,span,h1,h2,h3,h4,h5,h6,p,blockquote,a,img,small,sub,b,dl,dd,dt,ul,li,label,article,details,footer,header,menu,nav,input,textarea,select{
  background:transparent;
  border:0;
  outline:0;
  padding:0;
  margin:0;
}
.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
}
li {
  list-style:none;
}


/* ------------------------------------------------------------------------------- */
/*  General
/* ------------------------------------------------------------------------------- */ 

@font-face {
  font-family: 'open_sansbold';
  src: url('font/OpenSans-Bold-webfont.eot');
  src: url('http://64.19.142.13/clapat.ro/themes/powerstudio/css/font/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('http://64.19.142.13/clapat.ro/themes/powerstudio/css/font/OpenSans-Bold-webfont.woff') format('woff'),
  url('http://64.19.142.10/clapat.ro/themes/powerstudio/css/font/OpenSans-Bold-webfont.ttf') format('truetype'),
  url('http://64.19.142.12/clapat.ro/themes/powerstudio/css/font/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;}
html,body{
  font-family: 'Arial';
  font-size:12px;
  height:100%;
  width:100%;
  color:#aaaaaa;
  background:#f5f5f5;
}
#preloadder {
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999999;
}
#over {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url("http://64.19.142.11/clapat.ro/themes/powerstudio/images/preload.gif");
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
}
.container {
  width:1100px;
  margin:0 auto;
  z-index:10;
  position:relative;
  padding:100px 20px 100px 20px;

}
.no-padding {
  padding:0!important;
}
.small-container {
  width:960px;
}


h1 { font-size: 36px; font-weight:bold; line-height:36px; font-family: 'open_sansbold'; color:#333; }
h2 { font-size: 30px; font-weight:bold; line-height:30px; font-family: 'open_sansbold'; color:#333; }
h3 { font-size: 24px; font-weight:bold; line-height:24px; font-family: 'open_sansbold'; color:#333; }
h4 { font-size: 18px; font-weight:bold; line-height:18px; font-family: 'open_sansbold'; color:#333; }
h5 { font-size: 14px; font-weight:bold; line-height:14px; font-family: 'open_sansbold'; }
.h-border {
  border-bottom:#e5e5e5 solid 1px;
  padding-bottom:40px;
  margin-bottom:30px;
}
.center {
  text-align:center;
}
p { line-height:18px; }
a, li {
  color: #555555;
  text-decoration: none;
  -webkit-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
  -moz-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
  -ms-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
  -o-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
  transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
}
a.text-link {
  font-weight:bold;
  color:#b4cf00;
  margin-top:6px;
  float:left;
}
a.text-link:hover {
  color:#333;
}
div, input, textarea {
  -webkit-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
  -moz-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
  -ms-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
  -o-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
  transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
}
.one_half {
  width: 48%;
}
.one_third {
  width: 30.6%;
}
.one_fourth {
  width: 22%;
}
.one_fifth {
  width: 16.8%;
}
.one_sixth {
  width: 13.33%;
}
.two_fifth {
  width: 37.6%;
}
.two_fourth {
  width: 48%;
} 

.two_third {
  width: 65.33%;
}
.three_fifth {
  width: 58.4%;
}
.three_fourth {
  width: 74%;
}
.four_fifth {
  width: 79.2%;
}
.five_sixth {
  width: 82.67%;
}
.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .two_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {
  float: left;
  margin-bottom: 20px;
  margin-right: 4%;
  position: relative;
}
.last {
  margin-right:0px!important;
}
.btn-small {
  color: #fff;
  padding: 0px 15px 0px 15px;
  background:#333333;
  height:36px;
  text-align:center;
  display:inline-block;
  line-height:35px;
  margin-top:20px;
  border-radius:3px;
  font-size:12px;
}
.btn-small:hover {
  background:#b4cf00;
  color:#fff;
  opacity:1;
}
.btn-icon {
  width:36px;
  padding:0!important;
}

/* ------------------------------------------------------------------------------- */
/*  Menu
/* ------------------------------------------------------------------------------- */
#navigation {
  background:#fff;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
  position: relative;  
  width: 100%;
  height: 60px;
  z-index: 1000;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  transition: all .7s ease;
  opacity:0;    
}
#navigation.blog {
  opacity:1
}
#navigation.is-sticky {
  height: 60px;    
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  transition: all .7s ease;
  opacity:1;
}
#navigation #logo {
  float:left;
  text-transform:none;
  margin-top:12px;
  padding:0;
  color:#333;
  cursor: pointer;
}
#navigation ul {
  padding-top:20px;
  float:right;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;   
}
#navigation ul li {
  display: inline;
  padding:0px 25px;
  border-right:1px solid #e8e8e8;
  font-family: 'Arial';
}
#navigation ul li:last-child {
  padding-right:0px;
  border-right:none;
}
#navigation a, #navigation a:active, #navigation a:visited {
  color:#333;
  height:20px;    
  text-transform:uppercase;
  font-weight:bolder;
  font-size:12px;
  line-height:20px;
}
#navigation ul li:hover a, #navigation ul li.current a {
  color: #b4cf00;
}


/* ------------------------------------------------------------------------------- */
/*  Home Page
/* ------------------------------------------------------------------------------- */


#index {
  position: relative;
  height: 100%;
  width: 100%;

}
#light {
  background: url("http://64.19.142.11/clapat.ro/themes/powerstudio/images/light.png") no-repeat fixed center center / 1920px 1920px transparent;
  height: 100%;
  width: 100%;    
}
#big-logo {
  position:absolute;
  left:50%;
  margin-left:-158px;
  top:50%;
  margin-top:-100px;
}
ul#slide li {
  font-size: 12px; font-weight:bold; line-height:12px; font-family: 'Arial';
  color:#b4cf00;
  width:100%;
  position:absolute;
  text-align:center;
  top:50%;
  height:36px;
  line-height:36px;
  margin-top:50px;
}
#arrow {
  top:30px;
  left:20px;    
}
#arrow-box {
  bottom:0px;
  height:80px;
  width:80px;
  position:absolute;
  left:50%;
  margin-left:-40px;  
  z-index:100;
}


/* ------------------------------------------------------------------------------- */
/*  Separators
/* ------------------------------------------------------------------------------- */

.separators {
  width: 100%;
  min-height: 400px;
  overflow: hidden;
  position: relative;
} 

.separator.bg1 {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url('http://64.19.142.11/clapat.ro/themes/powerstudio/images/separator1.jpg') 0 0 repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  z-index:-1;
}
.separator.bg2 {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url('http://64.19.142.11/clapat.ro/themes/powerstudio/images/separator1.jpg') 0 0 repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  z-index:-1;
}
.pattern {
  background: url('http://64.19.142.10/clapat.ro/themes/powerstudio/images/pattern.png');
  background-repeat:repeat;
  position:absolute;
  width:100%;
  height:100%;
  opacity:0.7;
  z-index:1;
}
.twitter-feed-icon {  text-align:center;  font-size:24px;  color:#FFF;  margin-top:20px;  margin-bottom:30px;}
#twitter-post h2 {  text-align:center;  font-size:24px;  color:#fff;}
.twitter-feed-icon a {  color:#fff;}
.twitter-feed-icon a:hover {  color:#B4CF00;
}
#twitter-post p {  text-align:center;  margin-top:30px;  color:#B4CF00;}
.clients-title {  text-align:center;  color:#FFF;  margin-bottom:60px;  color:#fff;  padding:15px;  border:#FFF 1px solid;  left:50%;  width:160px;  margin-left:-95px;  position:absolute;  opacity:0.6;}
.our-clients {  text-align:center;  margin-top:60px;}
.client {  display:inline-block;  opacity:0.7;  margin:17px;}
.client:hover {  opacity:1;  cursor:pointer;}

/* ------------------------------------------------------------------------------- */
/*  Portfolio
/* ------------------------------------------------------------------------------- */

article.project {
  width:340px;
  margin:20px;
  height:auto;  float: left;
}
.portfolio li { 
  float: left; 
  width:340px;
  margin:40px; 
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  overflow:hidden;
}
.portfolio a { 
  display:block;
  text-decoration: none; 
}
.portfolio img { 
  width: 100%; 
  height: auto; 
  display: block;  
}
.view .mask {
 opacity: 0;
} 

.view:hover .mask {
 opacity:1;
}
.view {    
 height: auto;
 float: left;
 overflow: hidden;
 position: relative;
 text-align: left;      
}
.view img {
  width: 100%; 
  height: auto; 
  display: block;
}
.view .mask {
 width: 100%;
 height:100%;
 position: absolute;
 overflow: hidden;
 top: 0;
 left: 0;
 background: #b4cf00;   
}
.view .icon { 
  height:36px;
  width:100px;
  text-align:center;
  line-height:36px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius:3px;
  background:#333333;
  color:#fff;
  position:absolute;
  top:50%;
  margin-top:-18px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.view a.icon.zoom {
  left:-60px;
}
.view .icon.link {
  right:-60px;
}
.view:hover a.icon.zoom {
  left:50%;
  margin-left:-110px;   
}
.view:hover .icon.link {
  right:50%;
  margin-right:-110px;  cursor:pointer;     
}
.project h4 {
  text-align:center;
  color:#2b363c;
  top:50%;
  width:100%;
  float:left;
  padding-top:20px;
  line-height:24px;  opacity:1!important;  z-index:1000;
}
.project p {
  text-align:center;
  color:#919da4;
  width:100%;
  float:left;
  margin-top:5px;
  line-height:12px;
}
/* ------------------------------------------------------------------------------- */
/*  Portfolio Isotope 
/* ------------------------------------------------------------------------------- */


.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  transition-duration: 1s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property:    -moz-transform, opacity;
  transition-property:         transform, opacity;
}
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
.filters {
  position:absolute;
  z-index:1000;
  right:20px;
  width:200px;
  background-color:#333;
  border-radius:3px;
  margin-top:-105px;
}
.filters [class^="icon-"] {
  font-size: 14px;
  color:#fff;
  vertical-align:-1px;
  padding-left:15px;
} 

.nav-toggle {
  cursor:pointer;
  font-size:12px;
  font-weight:bold;
  color:#fff;   
  line-height:35px;
  padding:5px 10px;
  padding-right:90px;
  width:150px;
}
nav.primary ul {
  right:10px;
  background:#333;
  text-align:center;
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
}
nav.primary ul li {
  margin:0;
  display:block;
  text-align:left;
  padding:10px 0px 10px 0px;
  border-top:#3a3a3a solid 1px;
}
nav.primary ul li a {
  font-size:12px;
  font-weight:bold;
  color:#aaaaaa;
  text-transform:none;
  border-top:none;
  padding-left:15px;
}
nav.primary ul li a:hover {
  color:#fff;
  border-top:none;
}
nav.primary ul li a:active, nav.primary ul li a.selected {
  color:#fff;
}
.work { 
  height:auto;
  padding-bottom:20px;
  margin:0 auto;
  margin-top:30px;
  width:1140px;
  left:-20px;
}
/* ------------------------------------------------------------------------------- */
/*  Project Page
/* ------------------------------------------------------------------------------- */

#project-page-holder {  display: none;   background-color:#FFF;}
#project-page-button {
  float:right;   margin-bottom:30px;  height: 80px;   position: relative;   z-index:100;}
#project-page-data {  margin-bottom: 0px;}
#project_close {  position: absolute;  top:15px;  right: 0px;}
.loading_icon{  background: url('http://64.19.142.11/clapat.ro/themes/powerstudio/images/preload.gif') no-repeat center center;  height:30px;  width:30px;  position: fixed;  top:15px;  right:20px;  display:none;  z-index: 10000;  opacity: 0.7;}
.project-page {
  background-color:#FFF;
  width:100%;
  height:auto;
  left:0;
  padding-bottom:40px;
}
.project-page h2 {
  padding-top:40px;
  padding-bottom:40px;
}
.project-page .btn-icon {
  position:absolute;
  margin-top:-70px;
  right:0;
}
hr {
  background-color:#e5e5e5;
  border:none;
  height:1px;
  margin:20px 0px 20px 0px;
}
/* ------------------------------------------------------------------------------- */
/*  About Us Page
/* ------------------------------------------------------------------------------- */ 

.our-team {
  width:1200px;
  height:auto;
  margin-left:-50px
}
.team {
  width:300px;
  background-color:#FFF;
  border-radius:3px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
  margin:50px;
  float:left;
}
.team img {
  display:block;
  width:100%;
  border-radius:3px 3px 0 0;
}
ul.team-socials {
  text-align:center;
  background-color:#b4cf00;
  height:45px;
}
li.team-socials {
  display:inline-block;   
}
li.team-socials a [class^="icon-"] {
  -webkit-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
  -moz-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
  -ms-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
  -o-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
  transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
  font-size: 16px;
  vertical-align:20px;
  width: 15px;
  height:14px;
  padding:15px;
  color:#fff;
  opacity:0.6;
} 

li.team-socials a [class^="icon-"]:hover {
  opacity:1;
}
.team-description {
  padding:20px;
}
.team-description h4 {
  margin-bottom:5px;
  text-transform:uppercase;
}
.team-description p.function {
  margin-bottom:15px;
  color:#CCC;
}


/* ------------------------------------------------------------------------------- */
/*  Contact Page
/* ------------------------------------------------------------------------------- */ 

#organic-tabs ul {
  text-align:center;
  width:100%;
  height:80px;
  background:  #fff;
}
#organic-tabs .nav li {
  display:inline-block; 
}
#organic-tabs .nav li a {  
  color: #aaaaaa; 
  padding:0px 25px;
  line-height:80px; 
  font-weight:bold;
  text-transform:uppercase;
  font-size:14px;
}
#organic-tabs .nav li a:hover { 
  color: #333; 
}
#organic-tabs ul li.nav a.current { 
  color: #333; 
}
.list-wrap {
  background: url('http://64.19.142.11/clapat.ro/themes/powerstudio/images/bg_arrow_tab.png') center 0px  no-repeat #f4f4f4; 
}


/* Contact Forumular */

#contactform {
  text-align: center;
}
#formular input[type="text"], .comment_formular input[type="text"], textarea {
  color: #333;
  font-family: 'Arial';
  font-size: 12px;
  line-height: 22px;
  padding: 4%;
  width: 92%;
  background:#FFF;
  border-radius:3px;
}
textarea {
  padding:1%;
  width:98%;
  resize:none;
  background:#FFF;
  border-radius:3px;
}
#formular input[type="submit"]  {
  background:#b4cf00;
  color:#fff;
  font-weight:lighter;
  font-size: 12px;
  font-family: 'Arial';
  padding:10px;
  cursor:pointer;
  border-radius:3px;
  margin-top:20px;
}
#formular input[type="submit"]:hover  {
  background:#333;

}
.error_message {  text-align:center;  margin-bottom:30px;  color:#F30;  font-weight:bold;}
#success_page {  text-align:center;}
#success_page p {  color:#b4cf00;  margin-top:20px;}
#message fieldset {  border:none;}
#map_canvas {
  width:100%!important;
  height:600px!important;   
}

/* ------------------------------------------------------------------------------- */
/*  Blog
/* ------------------------------------------------------------------------------- */     


#blog {
  margin-top:-60px;
}
#blog-content {
  width:800px;
  float:left;
  margin-right:50px;
  margin-top:20px;
}
.post-title a {
  color:#b4cf00;
}
.post-title a:hover {
  color:#333;
}
.post-option {
  margin-bottom:20px;
  margin-top:10px;
}
.post-option li a {
  color:#ABABAB;
}
.post-option li a:hover {
  color:#b4cf00;
}
.post-option li {
  float:left;
  padding:0px 7px;
  border-right:1px solid #e8e8e8;
  color:#ababab;
}
.post-option li:first-child {
  padding-left:0px;
}
.post-option li:last-child {
  padding-right:0px;
  border-right:none;
}
.blog-hr {
  margin: 50px 0;
}
.post-image img {
  width:100%;
  height:auto;
  display:block;
  margin-bottom:30px;
}
.post-quote {
  background-color:#b4cf00;
  padding:20px;
}
.post-quote:hover {
  background-color:#333;
  padding:20px;
  cursor:pointer;
}
.post-quote h3 {
  color:#fff;
  line-height:30px;
  margin-bottom:20px;
}
.post-quote .post-option li {
  float:left;
  padding:0px 7px;
  border-right:1px solid #e8e8e8;
  color:#fff;
}
.post-quote .post-option {
  background:url("http://64.19.142.12/clapat.ro/themes/powerstudio/images/quote.png") no-repeat 0px 0px;
  height:20px;
  padding-left:22px;
  padding-top:1px;
  margin-bottom:10px;
}
.post-quote .post-option li:last-child {
  padding-right:0px;
  border-right:none;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-bottom:30px;
}
.video-container iframe,  
.video-container object,  
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border:0;
}
.blog-navigation a {
  margin-top:0px;
  margin-right:3px;
}
blockquote.text {
  background-image: url("http://64.19.142.13/clapat.ro/themes/powerstudio/images/quotes.png");
  background-position: left 3px;
  background-repeat: no-repeat;
  font-family:Georgia, "Times New Roman", Times, serif;
  font-size: 22px;
  font-style:italic;
  line-height: 30px;
  margin-bottom: 30px;
  margin-top:30px;
  padding-left: 50px;
}

/* ------------------------------------------------------------------------------- */
/*  Blog Comments
/* ------------------------------------------------------------------------------- */ 
.blog_comments {
  margin-bottom:40px;
}
.blog_comments h4 {
  margin-bottom:40px;
  color: #333;
}
.user_comment {
  background: url("http://64.19.142.13/clapat.ro/themes/powerstudio/images/user.png") no-repeat;
  padding-left:100px;
  margin-bottom:40px;
  color: #333;
}
.user_comment_reply {
  background: url("http://64.19.142.13/clapat.ro/themes/powerstudio/images/user.png") no-repeat scroll 0 0 transparent;
  margin-top: 40px;
  padding-left: 100px;
  color: #2B363C;
}
.comment-date {
  font-style:italic;
  margin-bottom:10px;
  font-family:Georgia, "Times New Roman", Times, serif;
  color:#ababab;
}
.comment-text {
  color: #ababab;
}
a.reply {
  float:right;
  font-weight:bold;
  margin-top:10px;
  color:#333;   
}
a.reply:hover {
  color: #b4cf00;
}
/* ------------------------------------------------------------------------------- */
/*  Blog Sidebar
/* ------------------------------------------------------------------------------- */ 


#sidebar {
  width:250px;
  min-height:400px;   
  float:left;
  border-radius:5px;
  margin-top:20px;
}
.widget {
  margin-bottom:50px;   
}
.heading h4 {
  margin-bottom:20px;
  text-transform:uppercase;
  color: #2B363C;
}
input#search {
  border-radius:3px;
  height:40px;
  padding-left:40px;    
  background:url("http://64.19.142.12/clapat.ro/themes/powerstudio/images/zoom-search.png") no-repeat 5px 5px #fff;
  width:210px;
  color:#ababab;
}
#sidebar .widget_categories li {
  background: url("http://64.19.142.13/clapat.ro/themes/powerstudio/images/arrow-li.png") no-repeat scroll 0 19px transparent;
  border-bottom: 1px solid #e5e5e5;
  color: #b4cf00;
  display: block;
  padding: 15px;
}
#sidebar .widget_categories li:first-child {
  border-top: 1px solid #e5e5e5;
}
#sidebar .widget_categories li a {
  color: #b4cf00;
}
#sidebar .widget_categories li a:hover {
  color: #333;
}
#sidebar .recent-posts li {
  border-top: 1px solid #e5e5e5;
  padding-top:12px;
}
#sidebar .recent-posts p {
  padding-bottom:12px;
}
#sidebar .recent-posts {
  border-bottom: 1px solid #e5e5e5;
}
#sidebar .recent-posts li a {
  color: #b4cf00;
}
#sidebar .recent-posts li a:hover {
  color: #333;
}
#sidebar .tags a {
  border-radius: 2px 2px 2px 2px;
  background-color:#333;
  color: #FFFFFF !important;
  cursor: pointer;
  display: inline-block;
  float: left;
  font-size: 12px;
  margin: 5px 5px 0 0;
  padding: 7px 10px;
  position: relative;
  text-transform: capitalize;
  transition: all 0.2s linear 0s;
}
#sidebar .tags a:hover {
  background-color:#b4cf00;
}
#sidebar .widget_archives li {
  background: url("http://64.19.142.13/clapat.ro/themes/powerstudio/images/arrow-li.png") no-repeat scroll 0 19px transparent;
  border-bottom: 1px solid #e5e5e5;
  color: #b4cf00;
  display: block;
  padding: 15px;
}
#sidebar .widget_archives li:first-child {
  border-top: 1px solid #e5e5e5;
}
#sidebar .widget_archives li a {
  color: #b4cf00;
}
#sidebar .widget_archives li a:hover {
  color: #333;
}

/* ------------------------------------------------------------------------------- */
/*  Footer
/* ------------------------------------------------------------------------------- */   

.footer {
  background:#333;
}
#footer-socials {
  padding:30px 0;
  height:60px;
  text-align:center;
}
li.socials {
  border-radius: 5px;
  bottom: 20px;
  height:60px;
  margin-right: 30px;
  margin-left:30px;
  width: 60px;
  display:inline-block;
}
li.socials a [class^="icon-"] {
  -webkit-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
  -moz-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
  -ms-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
  -o-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
  transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
  font-size: 28px;
  vertical-align:20px;
  width: 30px;
  height:30px;
  padding:15px;
  color:#fff;
} 

li.socials a [class^="icon-"]:hover {
  color: #b4cf00;
}
.copyright {
  text-align:center;
  padding:35px 0;
  background:#2c2c2c;
}


/* ------------------------------------------------------------------------------- */
/*  Responsive
/* ------------------------------------------------------------------------------- */ 


@media only screen and (max-width: 1300px) {
  .container {
    width:920px;
  }
  article.project {
    width:280px;
    margin:20px;
    height:auto;
  }
  .work { 
    height:auto;
    padding-bottom:20px;
    margin:0 auto;
    margin-top:30px;
    width:960px;
    left:-20px;
  }
  .our-team {
    height: auto;
    margin-left:-20px;
    width: 960px;
  }
  .team {
    margin: 50px 20px 50px 20px;
    width: 280px;
  }
  #blog-content {
    width:670px;
    margin-right:50px;
  }
  #sidebar {
    width:200px;
  } 
  input#search {    
    width:160px;
  }
} 


@media only screen and (max-width: 1024px) {
  .separator.bg1 {
    height: 100%;
    
    margin: 0 auto;
    
    position: absolute;
    
    width: 100%;
    
    background-attachment: scroll;
    
    background-position: center top !important;
    
    background-size: cover;
  }
  .separator.bg2 {
    height: 100%;
    
    margin: 0 auto;
    
    position: absolute;
    
    width: 100%;
    
    background-attachment: scroll;
    
    background-position: center top !important;
    
    background-size: cover;
  }
  .one_half {
    width: 100%;
  }
  .one_third {
    width: 100%;
  }
  .one_fourth {
    width: 100%;
  }
  .one_fifth {
    width: 100%;
  }
  .one_sixth {
    width: 100%;
  }
  .two_fifth {
    width: 100%;
  }
  .two_fourth {
    width: 100%;
  } 
  .two_third {
    width: 100%;
  }
  .three_fifth {
    width: 100%;
  }
  .three_fourth {
    width: 100%;
  }
  .four_fifth {
    width: 100%;
  }
  .five_sixth {
    width: 100%;
  }
  .one_half, .one_third, .two_third, .three_fourth, .one_fourth, .two_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {
    float: left;
    margin-bottom: 20px;
    margin-right: 0;
    position: relative;
  }
  .last {
    margin-right:0px!important;
  }
  .container {
    width:600px;
  }
  article.project {
    width:600px;
    margin:20px;
    height:auto;
  }
  .work { 
    height:auto;
    padding-bottom:20px;
    margin:0 auto;
    margin-top:30px;
    width:640px;
    left:-20px;
  }
  #navigation ul {
    width: 600px;
    padding: 5px 0;
    position: absolute;
    top: 10px;
    background:  url(http://64.19.142.13/clapat.ro/themes/powerstudio/images/icon-menu.png) no-repeat right 10px;
    height:30px;    
    float:left;
    cursor:pointer; 
    
    z-index: -1;  
  }
  ul#menu li {
    display: none;
    margin: 0;
    background-color:#333;
    color:#FFF;
    border-right:none;
  }
  ul#menu li:first-child {
    margin-top:45px;
    padding-top:10px;
  }
  #navigation a {
    display: block;
    padding: 5px 5px 5px 0px;
    text-align: left;
    border-bottom:#3e3e3e 1px solid;
    
  }
  #navigation li:last-child {
    padding-bottom:30px;
    padding-right:20px!important;
  }
  #navigation ul:hover .current {
    background: url(http://64.19.142.13/clapat.ro/themes/powerstudio/images/icon-check.png) no-repeat 10px 7px;
    background-color:#333;
  }
  #navigation ul li:hover a, #navigation ul li.current a {
    color: #fff;
    background-color:#333;
    border-top: 0px;
  }
  #navigation a, #navigation a:active, #navigation a:visited {
    padding-top:10px;
    height:auto;    
    padding-bottom:10px;
    color:#999;
  }
  .our-team {
    height: auto;
    margin-left:0px;
    width: 600px;
  }
  .team {
    margin: 50px 150px 50px 150px;
    width: 300px;
  }
  li.socials {
    margin-left: 15px;
    margin-right: 15px;
  }
  #blog-content {
    width:600px;
    margin-right:50px;
  }
  #sidebar {
    width:600px;
    margin-top:60px;
    padding-top:60px;
    border-top: 1px solid #e5e5e5;
  } 
  input#search {    
    width:560px;
  }  textarea {
    padding:3%;
    width:94%;
  }  #twitter-post {
    
    height:170px;
    
  }
}


@media only screen and (max-width: 767px) { 

  .separator.bg1 {
    height: 100%;
    
    margin: 0 auto;
    
    position: absolute;
    
    width: 100%;
    
    background-attachment: scroll;
    
    background-position: center top !important;
    
    background-size: cover;
  }
  .separator.bg2 {
    height: 100%;
    
    margin: 0 auto;
    
    position: absolute;
    
    width: 100%;
    
    background-attachment: scroll;
    
    background-position: center top !important;
    
    background-size: cover;
  }
  .container {
    width:400px;
  }
  article.project {
    width:400px;
    margin:20px;
    height:auto;
  }
  .work { 
    height:auto;
    padding-bottom:20px;
    margin:0 auto;
    margin-top:30px;
    width:440px;
    left:-20px;
  }
  .h-border {
    padding-bottom: 20px;
  }
  .filters {
    background-color: #333333;
    border-radius: 3px 3px 3px 3px;
    left: 0;
    margin-top: 0;
    position: relative;
    width: 400px;
    z-index: 1000;
  }
  #navigation ul {
    width: 400px;
    padding: 5px 0;
    position: absolute;
    top: 10px;
    background:  url(http://64.19.142.13/clapat.ro/themes/powerstudio/images/icon-menu.png) no-repeat right 10px;
    height:30px;    
    float:left;
    cursor:pointer;   
  }
  .our-team {
    height: auto;
    margin-left:0px;
    width: 400px;
  }
  .team {
    margin: 50px 50px 50px 50px;
    width: 300px;
  }
  #organic-tabs .nav li a {
    color: #AAAAAA;
    font-size: 12px;
    font-weight: bold;
    line-height: 80px;
    padding: 0 10px;
    text-transform:none;
  }
  li.socials {
    margin-left: 15px;
    margin-right: 15px;
    width:30px;
  }
  li.socials a [class^="icon-"] {
    padding:0;
  }
  #blog-content {
    width:400px;
    margin-right:50px;
  }
  #sidebar {
    width:400px;
    margin-top:60px;
    padding-top:60px;
    border-top: 1px solid #e5e5e5;
  } 
  input#search {    
    width:360px;
  }
  .post-option li {
    border-right: none;
    float: none;
    padding: 2px 0px;
  }
  .user_comment_reply {
    margin-left: -100px;
  }
}

@media only screen and (max-width: 479px) {
  .separator.bg1 {
    height: 100%;
    
    margin: 0 auto;
    
    position: absolute;
    
    width: 100%;
    
    background-attachment: scroll;
    
    background-position: center top !important;
    
    background-size: cover;
  }
  .separator.bg2 {
    height: 100%;
    
    margin: 0 auto;
    
    position: absolute;
    
    width: 100%;
    
    background-attachment: scroll;
    
    background-position: center top !important;
    
    background-size: cover;
  }
  .container {
    width:280px;
  }
  article.project {
    width:280px;
    margin:20px;
    height:auto;
  }
  .work { 
    height:auto;
    padding-bottom:20px;
    margin:0 auto;
    margin-top:30px;
    width:320px;
    left:-20px;
  }
  .filters {
    background-color: #333333;
    border-radius: 3px 3px 3px 3px;
    left: 0;
    margin-top: 0;
    position: relative;
    width: 280px;
    z-index: 1000;
  }
  #navigation ul {
    width: 280px;
    padding: 5px 0;
    position: absolute;
    top: 10px;
    background:  url(http://64.19.142.13/clapat.ro/themes/powerstudio/images/icon-menu.png) no-repeat right 10px;
    height:30px;    
    float:left;
    cursor:pointer;   
  }
  .our-team {
    height: auto;
    margin-left:0px;
    width: 280px;
  }
  .team {
    margin: 20px 0px 20px 0px;
    width: 280px;
  }
  #organic-tabs .nav li a {
    color: #AAAAAA;
    font-size: 12px;
    font-weight: bold;
    line-height: 80px;
    padding: 0 3px;
    text-transform:none;
  }
  #map_canvas {
    height: 300px !important;
    width: 100% !important;
  }
  li.socials {
    margin-left: 10px;
    margin-right: 10px;
    width:20px;
  }
  li.socials a [class^="icon-"] {
    color: #FFFFFF;
    font-size: 20px;
    width: 20px;
    padding:0;
  }
  #blog-content {
    width:280px;
    margin-right:50px;
  }
  #sidebar {
    width:280px;
    margin-top:60px;
    padding-top:60px;
    border-top: 1px solid #e5e5e5;
  } 
  input#search {    
    width:240px;
  }
  .post-option li {
    border-right: none;
    float: none;
    padding: 2px 0px;
  }
  .user_comment_reply {
    margin-left: -100px;
  }  #twitter-post {
    
    height:260px;
    
  }
}

